<% provide(:title, @user.name) %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <!--×マーク-->
    <div class="modal-header" style="border:none">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <%= form_with(model: @user, url: attendances_update_notice_overtime_user_path, local: true, method: :patch) do |f| %>

        <% @notice_user.each do |notice_user| %>
        <table class="table table-bordered table-striped table-position table-hover">
          <thead>
            <tr>
              <th><%= Attendance.human_attribute_name :worked_on %></th>
            </tr>
          </thead>
      
      <% @attendance_lists.where(user_id: notice_user.id).each do |ats| %>
        <%= f.fields_for "attendances[]", ats do |at| %>
          <tbody>
             <tr>
                <td class="center"><%= l(ats.worked_on, format: :short) %></td>
             </tr>
          </tbody>
        <% end %>
      <% end %>
          
        </table>
        <% end %>
        
         <div class="center">
           <%= link_to "キャンセル", user_url(@user), class: "btn btn-md btn-default" %>
           <%= f.submit "変更を送信する", class: "btn btn-md btn-primary" %>
         </div>
      <% end %>
    </div>
  </div>
</div>